<div class="parent-class" [ngClass]="{'active': mobileWrapper}">
    <ul class="main-menu">
        <li (click)="list1()">list 1</li>
        <li (click)="list2()">list 2</li>
        <li (click)="list3()">list 3</li>
        <li (click)="none()">None</li>
    </ul>
    <div class="sub-menu-div" [ngClass]="{'active': subWrapper}">
        <ul class="sub-menu" *ngIf="sub1">
            <li>sub list 1</li>
            <li>sub list 1</li>
        </ul>
        <ul class="sub-menu" *ngIf="sub2">
            <li>sub list 2</li>
            <li>sub list 2</li>
        </ul>
        <ul class="sub-menu" *ngIf="sub3">
            <li>sub list 3</li>
            <li>sub list 3</li>
        </ul>
    </div>
</div>