.main-menu {
    width: 200px;
    background-color: red;
    padding-left: 0;
    li {
        cursor: pointer;
        color: #fff;
        padding: 10px;
        list-style: none;
        &:hover {
            background-color: green;
        }
    }
}
.sub-menu {
    width: 100%;
    padding-left: 0;
    margin: 0;
    // transf
    li {
        cursor: pointer;
        color: #fff;
        padding: 10px;
        list-style: none;
        &:hover {
            background-color: green;
        }
    }
}
.parent-class {
    position: relative;
    @media only screen and (max-width: 991px) {
        width: 0;
        opacity: 0;
        transition: all 0.3s linear;
        &.active {
            width: 100%;
            opacity: 1;
        }
    }
}
.sub-menu-div {
    width: 200px;
    background-color: blue;
    padding-left: 0;
    position: absolute;
    top: 0;
    left: 200px;
    margin: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    opacity: 0;
    z-index: -1;
    // transf
    &.active {
        transform: translateX(0);
        opacity: 1;
    }
}